# ---------------------------------
# Python 虛擬環境
# ---------------------------------
# 忽略我們本地的虛擬環境資料夾
# [開發者註記]：您使用的是 .venv
/.venv/

# ---------------------------------
# Python 快取檔案
# ---------------------------------
# 忽略所有 Python 編譯產生的快取
__pycache__/
*.py[cod]
*$py.class

# ---------------------------------
# VS Code (視覺化程式碼編輯器) 設定
# ---------------------------------
.vscode/

# ---------------------------------
# 專案輔助文件 (不屬於原始碼)
# ---------------------------------
# 忽略以下資料夾內檔案
202508110935-backup
專案重啟
docs
pybullet_wheel

# ---------------------------------
# Windows 批次檔
# ---------------------------------
# 忽略 setup 腳本
*.bat
